<!-- ADVANTAGES -->
<section class="advantages" id="advantages">
  <div class="container advantages-container">
    <div class="container-advantages">
      <h3 class="title">Переваги</h3>
      <h2 class="heading">Чому обрати нас?</h2>
      <p class="title-text">
        Наші сумки виготовлені з екологічно чистих матеріалів,що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <!-- ORGANIC -->
    <ul class="images-list">
      <li class="list-point">
        <picture class="picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/advantages/organic.jpg    1x,
              ./img/advantages/organic@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/advantages/organic.jpg    1x,
              ./img/advantages/organic@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/advantages/organic.jpg    1x,
              ./img/advantages/organic@2x.jpg 2x
            "
          />
          <img
            class="advantages-img"
            srcset="./img/advantages/organic.jpg"
            alt="Bag made from organic materials"
          />
        </picture>
        <div class="list-wrap">
          <h3 class="list-name">Стійкість та екологічність</h3>
          <p class="list-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>
      <!-- BAGWORK -->
      <li class="list-point">
        <picture class="picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/advantages/bagwork.jpg    1x,
              ./img/advantages/bagwork@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/advantages/bagwork.jpg    1x,
              ./img/advantages/bagwork@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/advantages/bagwork.jpg    1x,
              ./img/advantages/bagwork@2x.jpg 2x
            "
          />

          <img
            class="advantages-img"
            srcset="./img/advantages/bagwork.jpg"
            alt="Reinforced stitching of an eco-friendly bag"
          />
        </picture>
        <div class="list-wrap">
          <h3 class="list-name">Міцність і довговічність</h3>
          <p class="list-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>
      <!-- BAG -->
      <li class="list-point-bag">
        <picture class="picture">
          <source
            media="(min-width: 1440px)"
            srcset="./img/advantages/bag.jpg 1x, ./img/advantages/bag@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/advantages/bag.jpg 1x, ./img/advantages/bag@2x.jpg 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/advantages/bag.jpg 1x, ./img/advantages/bag@2x.jpg 2x"
          />

          <img
            class="advantages-img-bag"
            srcset="./img/advantages/bag.jpg"
            alt="Stylish reusable eco-friendly bag"
          />
        </picture>
        <div class="list-wrap">
          <h3 class="list-name">Стильний та сучасний дизайн</h3>
          <p class="list-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
