<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <svg class="footer-logo" width="280" height="121">
        <use href="/img/footermobilelogo.svg"></use>
      </svg>

      <nav>
        <ul class="footer-menu">
          <li><a class="footer-menu-text" href="#about">Про нас</a></li>
          <li><a class="footer-menu-text" href="#advantages">Переваги</a></li>
          <li><a class="footer-menu-text" href="#assortment">Асортимент</a></li>
          <li><a class="footer-menu-text" href="#gallery">Галерея</a></li>
          <li><a class="footer-menu-text" href="#feedbacks">Відгуки</a></li>
          <li><a class="footer-menu-text" href="#support">Контакти</a></li>
        </ul>
      </nav>

      <ul class="footer-social">
        <li>
          <a class="footer-social-link" href="#">
            <svg class="icon-logo">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="footer-social-link" href="#"
            ><svg class="icon-logo">
              <use href="/img/icons.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="footer-social-link" href="#"
            ><svg class="icon-logo">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <address class="footer-address">
        <ul class="footer-contacts">
          <li>
            <a
              class="link-address footer-menu-text"
              href="tel:+38 (099) 909 11 22"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li>
            <a
              class="link-address footer-menu-text"
              href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="copy footer-menu-text">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
