    <section class="section gallery-section" id="gallery">
        <div class="container">
    <div class="section-text">
                <h2 class="subheading subheading-title">Галерея зображень</h2>
                <p class="small-text paragraf">EcoTotes у повсякденному житті</p>
    </div>       
                <ul class="gallery-list">
                <li class="gallery-item div1">
                    <div class="thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="/img/gallery/ecobagdt.jpg 1x, /img/gallery/ecobagdt@x2.jpg 2x">
                            <source media="(min-width: 768px)" 
                                srcset="/img/gallery/ecobagtb.jpg 1x, /img/gallery/ecobagtb@x2.jpg 2x">
                            <source media="(max-width: 767px)"
                                srcset="/img/gallery/ecobagph.jpg 1x, /img/gallery/ecobagph@x2.jpg 2x">
                            <img class="picture-gallery" srcset="/img/gallery/ecobagdt.jpg 1x,
                            /img/gallery/ecobagdt@x2.jpg 2x" src="/img/gallery/ecobagdt.jpg" alt="eco bag">
                        </picture>
                    </div>
                </li>
                <li class="gallery-item div2">
                    <div class="thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="/img/gallery/citymandt.jpg 1x, /img/gallery/citymandt@x2.jpg 2x">
                            <source media="(min-width: 768px)" 
                                srcset="/img/gallery/citymantb.jpg 1x, /img/gallery/citymantb@x2.jpg 2x">
                            <source media="(max-width: 767px)"
                                srcset="/img/gallery/citymanph.jpg 1x, /img/gallery/citymanph@x2.jpg 2x">
                            <img class="picture-gallery" srcset="/img/gallery/citymandt.jpg 1x,
                            /img/gallery/citymandt@x2.jpg 2x" src="/img/gallery/citymandt.jpg" alt="eco bag">
                        </picture>
                    </div>
                </li>
                <li class="gallery-item div3">
                    <div class="thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="/img/gallery/personparkdt.jpg 1x, /img/gallery/personparkdt@x2.jpg 2x">
                            <source media="(min-width: 768px)" 
                                srcset="/img/gallery/personparktb.jpg 1x, /img/gallery/personparktb@x2.jpg 2x">
                            <source media="(max-width: 767px)"
                                srcset="/img/gallery/personparkph.jpg 1x, /img/gallery/personparkph@x2.jpg 2x">
                            <img class="picture-gallery" srcset="/img/gallery/personparkdt.jpg 1x,
                            /img/gallery/ecobagdt@x2.jpg 2х" src="/img/gallery/personparkdt.jpg" alt="eco bag">
                        </picture>
                    </div>
                </li>
                <li class="gallery-item div4">
                    <div class="thumb">
                    <picture>
                        <source media="(min-width: 1440px)" 
                               srcset="/img/gallery/youngwomdt.jpg 1x, /img/gallery/youngwomdt@x2.jpg 2x">
                        <source media="(min-width: 768px)" 
                               srcset="/img/gallery/youngwomtb.jpg 1x, /img/gallery/youngwomtb@x2.jpg 2x">
                        <source media="(max-width: 767px)" 
                               srcset="/img/gallery/youngwomph.jpg 1x, /img/gallery/youngwomph@x2.jpg 2x">
                        <img class="picture-gallery" srcset="/img/gallery/youngwomdt.jpg 1x,
                        /img/gallery/youngwomdt@x2.jpg 2x" src="/img/gallery/youngwomdt.jpg" alt="eco bag">
                    </picture>
                    </div>
                </li>
            </ul>

        </div>
    </section>
