<header class="header">
  <div class="container header-container">
    <!-- Nav section -->
    <nav class="header-nav">

     <a class="logo header-logo" href="./index.html">
        <svg class="icon-logo" width="112" height="48">
          <use href="./img/logo.svg"></use>
        </svg>
      </a>

<!-- Address/Contacts section -->
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#">Про нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Переваги</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Асортимент</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Галерея</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Відгуки</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакти</a></li>
      </ul>

    </nav>

<address class="contacts">
        <ul class="contacts-list">
          <li class="contacts-item">
            <a class="contacts-link" href="tel:+380999091122">+38 (099) 909 11 22</a>
          </li>
          <li class="contacts-item">
            <a class="contacts-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
          </li>
        </ul>
</address>

<!-- Mobile button section -->

<button class="mobile-menu-button"  >
      <svg class="mobile-menu-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
     </button>
 </div>

<!-- Mobile section -->


<div class="mobile-menu" hidden>
      
<button  type="button"class="mobile-menu-close" >
  <svg class="mobile-icon-close"  width="32" height="32">
    <use href="./img/icons.svg#icon-x"></use>
  </svg>
</button>

      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-item"><a class="mobile-nav-link" href="#about">Про нас</a></li>
          <li class="mobile-nav-item"><a class="mobile-nav-link" href="#advantages">Переваги</a></li>
          <li class="mobile-nav-item"><a class="mobile-nav-link" href="#catalog">Асортимент</a></li>
          <li class="mobile-nav-item"><a class="mobile-nav-link" href="#gallery">Галерея</a></li>
          <li class="mobile-nav-item"><a class="mobile-nav-link" href="#reviews">Відгуки</a></li>
          <li class="mobile-nav-item"><a class="mobile-nav-link" href="#contacts">Контакти</a></li>
        </ul>

        <div class="mobile-menu-footer">
          <a href="tel:+380999091122" class="mobile-contact">+38 (099) 909 11 22</a>
          <a href="mailto:hello@ecotote.com" class="mobile-contact">hello@ecotote.com</a>
        </div>

      </nav>

    </div>
  </div>
</header>
