<section class="support">
    <div class="container">
        <div class="support-text-container">
            <h2 class="subheading">Залишились питання? Зв'яжіться з нами!</h2>
            <h3 class="support-text">Ми тут, щоб допомогти!</h3>
            <form class="support-form">
                <div class="field">
                    <label class="support-form-label" for="name">Ім'я</label>
                    <input type="text"
                            id="name"
                            name="name"
                            placeholder="Іван"
                            minlength="5"
                            maxlength="64"
                            required>
                    <p class="text-invalid">Invalid name</p>
                </div>
                <div class="field">
                    <label class="support-form-label" for="email">Електронна пошта</label>
                    <input type="email"
                            id="email"
                            name="email"
                            placeholder="hello@ecotote.com"
                            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                            required>
                    <p class="text-invalid">Invalid email</p>
                </div>
                <div class="field">
                    <label class="support-form-label" for="message">Повідомлення</label>
                    <textarea name="message"
                            id="message"
                            rows="6"
                            maxlength="500"
                            placeholder="Введіть своє повідомлення..."
                            required></textarea>
                </div>
                <button type="submit">Надіслати</button>
            </form>
        </div>
        <div class="support-img"></div>
    </div>
</section>