body {
    margin: 0;
    background-color: #ebf8ed;
}

.advantages {
    padding: 32px 16px;
}

.advantages-container {
    margin: 0 auto;
}

.container-advantages {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 12px;
}

.heading {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 20px;
}

.title-text {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    max-width: 288px;
    margin: 0;
}

h2,
h3,
p {
    margin: 0;
}
.picture{
    width: 100%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.images-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}


.list-point,
.list-point-bag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.advantages-img,
.advantages-img-bag {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50px;
    height: 198px;
    display: block;
    height: 100%;
}

.list-name {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

.list-text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/*====================== TABLET =======================*/
@media screen and (min-width: 768px) {
    .advantages {
        padding: 64px 32px;
    }
    .title{
    margin-bottom: 16px;
}
    .heading {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 24px;
    }
    .title-text {
        font-size: 18px;
        line-height: 1.6;
        max-width: 689px;
    }
    .images-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        display: flex;
    }

    .list-point {
        width: calc((100% - 24px) / 2);
    }

    .list-point-bag {
        width: 100%;
    }
    /*======================= DESKTOP =======================*/
    @media screen and (min-width: 1440px) {
        .advantages {
            padding: 64px;
        }
        .title{
            margin-bottom: 16px;
        }
        .heading {
            font-size: 48px;
            line-height: 1.2;
            margin-bottom: 24px;
        }
        .images-list {
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 24px;
            display: flex;
            flex-direction: row;
        }
        .list-point,
        .list-point-bag {
            width: calc((100% - 48px) / 3);
        }
    }
    .list-name {
        font-size: 32px;
    }
    .title-text {
        max-width: 768px;
    }
    .advantages-img,
    .advantages-img-bag {
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
}