
.feedbacks-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.stars {
    display: flex;
    gap: 4px;
    margin-bottom: 12px;
    fill: #3AC04C;
}

 .review-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 12px;
 }

.review-author {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
}

 /* feedbacks tablet */

 @media screen and (min-width: 768px) {
.stars {
    margin-bottom: 24px;
}
.review-text {
    margin-bottom: 24px;
}
.reviews-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 24px;
}
.review-item {
    width: calc((100% - 24px) / 2);
    min-width: 280px;
    
}
 }

 /* feedbacks desktop */

  @media screen and (min-width: 1440px) {
.feedbacks-header {
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.reviews-list {
    gap: 24px;
}

.review-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
}
.review-author {
    margin-top: auto;
}
      }