.footer {
  background: #76cd82;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.footer-top {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

.logo span {
  font-size: 22px;
  font-weight: 600;
}

.footer-menu {
  display: flex;
  gap: 25px;
}

.footer-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

.footer-menu a:hover {
  opacity: 0.7;
}

.social a img {
  width: 20px;
  margin-left: 12px;
}

.footer-bottom {
  max-width: 800px;
  margin: 30px auto 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 20px;
}

.contacts {
  margin-bottom: 10px;
  font-size: 15px;
}

.contacts span {
  margin: 0 10px;
}

.copy {
  font-size: 14px;
  color: #222;
}
