
/* Header base  */
.header {
  background-color: #75D281;
  top: 0;
  z-index: 1000;
}

.icon-logo.header-logo-icon{
  width: 84px;
  height: 36px;
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 8px 12px 8px 20px;
  width: 100%;
}

.header-nav {
  display: flex; 
  align-items: center; 
}

.header-logo {
  color: #030A06;
  flex-shrink: 0; 
  display: flex;
}

.icon-logo{
  width: 84px;
  height: 36px;
}

.nav-list {
  display: none; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 32px; 
}

.nav-link {
  color: #030A06;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #000;
}

.contacts {
  display: none; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px; 
  align-items: center; 
}

.contacts-link {
  color: #030A06;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  transition: color 0.2s ease;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #000;
}

.mobile-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.mobile-menu-icon {
  width: 32px;
  height: 32px;
  fill: #030A06;
}

/* Mobile section*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: #75D281; 
  z-index: 1001;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;

  padding: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-width: 100%;
}

.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0); 
}

.mobile-menu-close {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end; 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 12px;
  width: 48px;
  height: 48px;
}

.mobile-menu-button{
  width: 48px;
  height: 48px;
}

.mobile-menu > .header-logo{
  padding: 14px 20px;;
}

.mobile-icon-close {
  width: 32px;
  height: 32px;
  fill: #030A06; 
}

.mobile-nav{
  padding-top: 32px;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px; 
  padding: 32px 20px;
  margin-bottom: 32px;
}

.mobile-nav-link {
  font-family: "Fira Sans", sans-serif;
  color: #030A06; 
  text-decoration: none;
  font-size: 16px; 
  line-height: 1.6;
  font-weight: 400; 
  transition: color 0.2s ease; 
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #000; 
}

.mobile-menu-footer {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  margin-top: auto;
  padding-top: 32px;
  padding-left: 16px;;
}

.mobile-contact {
  font-family: "Fira Sans", sans-serif;
  color: #030A06; 
  text-decoration: none;
  font-size: 16px; 
  line-height: 1.6; 
  font-weight: 400; 
  transition: color 0.2s ease; 
}

.mobile-contact:hover,
.mobile-contact:focus {
  color: #000; 
  }


@media screen and (min-width: 768px) {
  .header-container {
    padding: 8px 16px 8px 32px;
  }

  .nav-list,
  .contacts {
    display: none;
  }

  .mobile-menu > .header-logo{
    padding: 14px 32px
  }
  
  .mobile-menu-close{
    right: 16px;
  }

  .mobile-menu-close{
    padding: 14px 32px;
  }
  .mobile-nav-list{
    margin-bottom: 0;
    padding: 32px 32px;
  }
  .mobile-menu-footer{
    padding-left: 32px;
  }
}


@media screen and (min-width: 1440px) {

.header-container{
  padding: 13.2px 64px;
}

.header-logo{
  margin-right: 174.5px;
}

.icon-logo{
  width: 106.51px;
  height: 45.65px;
}

  .mobile-menu-button {
    display: none; 
  }

  .nav-list,
  .contacts {
    display: flex;
  }

  .nav-list {
    gap: 32px; 
    font-size: 18px; 
  }

  .nav-link {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px; 
    font-weight: 400;
    line-height: 160%;
    }

  .contacts {
    gap: 24px; 
    align-items: center; 
  }

  .contacts-list {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    gap: 16px; 
  }

  .contacts-link {
    color: #030A06;
    text-decoration: none;
    font-size: 16px; 
    line-height: 1.6;
    font-weight: 400;
    transition: color 0.2s ease;
  }
 
.contacts-link:hover,
.contacts-link:focus{
  color: #000;
}

.icon-logo.header-logo-icon{
  width: 106px;
  height: 45px;
}

}


