
/* Header base  */
.header {
  background-color: #75D281; 
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px; 
  width: 100%;    
}

.header-logo {
  color: #030A06;
}

.mobile-menu-button {
  background: none;
  border: none;
  cursor: pointer;
}
.mobile-menu-icon {
  width: 32px;
  height: 32px;
  fill: #030A06;
}

.nav-list,
.contacts{
  display: none;
}

