.support {
    margin-top: 32px;
    margin-bottom: 32px;
}

.support>.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.support .subheading {
    margin-bottom: 24px;
}

.support .small-text {
    margin-bottom: 32px;
    font-size: 18px;
}

.support-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.support-form-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input, textarea {
    width: 100%;
    display: block;
    border: 1px solid rgba(3, 10, 6, 0.15);
    background: rgba(3, 10, 6, 0.05);
    border-radius: 6px; 
    outline: none;
    padding: 12px;
}
input::placeholder,
textarea::placeholder {
    color: rgba(3, 10, 6, 0.6);
}

input:not(:placeholder-shown):invalid {
  border-color: red;
}
.text-invalid {
    font-size: 12px;
    color: #d64040;
    display: none;
}

input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
  margin-top: -8px;
  margin-bottom: -25.6px;
}

/* стилізація інформаційного текста при не валідному значенні в інпуті */
.inp:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.support-img {
    background-repeat: no-repeat;
    height: 428px;
    width: 288px;
    background-image: url(/img/support/support-m.jpg);
    background-position: center center;
    background-size: cover;  
    border-radius: 40px; 
}
.support-form>button {
    border: 1px solid #030a06;
    background: #030a06;
    color: #fff;
    border-radius: 6px;
    padding: 12px 24px;
}

@media screen and (min-resolution: 192dpi) {
    .support-img {
        background-image: url(/img/support/support-m@2x.jpg);   
    }
}

@media screen and (min-width: 768px) {
    .support-img {
        width: 704px;
        background-image: url(/img/support/support-t.jpg);   
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .support-img {
        background-image: url(/img/support/support-m@2x.jpg);   
    }
}

@media screen and (min-width: 1440px) {
    .support>.container {
        flex-direction: row;
    }

    .support-text-container {
        width: 644;
    }

    .support-img {
        height: 767px;
        width: 644px;
        background-image: url(/img/support/support-d.jpg);   
    }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .support-img {
        background-image: url(/img/support/support-d@2x.jpg);   
    }
}